* {
	font-size: 16px;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Oxygen', sans-serif;
	text-decoration: none;
}

.bg-light {
	background-color: #ddd;
	padding: 10px;
}

#header-nav {
	border: 0;
	border-radius: 0;
	background-color: lightgreen;
	margin-bottom: 0;
}

#navbar-collapse-1 {
	background-color: aqua;
	padding: 0;
}

#navbar-collapse-1 ul {
	margin: 0;
}

@media (min-width:768px) {
	#navbar-collapse-1 {
		display: flex !important;
		justify-content: center;
	}
}

@media (max-width:767px) {

	#navbar-collapse-1 ul>li {
		border-bottom: 1px solid #555;
	}

}